{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<style>
		button[type="submit"] {
			border: 1px solid #e0ca00;
			color: #000
		}
		button[type="submit"]:hover,
		a {
			color: #e0ca00
		}
		.card {
			border-radius: 1.7em;
		}
	</style>
{% endblock %}
{% block body %}
	<form method="post" class="user" novalidate>
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div
			class="container" style="margin-top: 10%">

			<!-- Outer Row -->
			<div class="row justify-content-center">

				<div class="col-xl-7">

					<div class="card o-hidden border-0 shadow-lg my-5">
						<div
							class=" p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">

								<div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url({{asset('img/logo.jpg')}});"></div>
								<div class="col-lg-6">
									<div class="p-5">
										<div class="text-center">
											<h1 class="h4 text-gray-900 mb-4">Se connecter</h1>
										</div>
										<div class="form-group">
											<input type="email" name="email" class="form-control" value="{{ last_username }}" id="inputEmail" required autofocus>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" required>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										</div>
										<div class="form-group">
											<div class="checkbox custom-control custom-checkbox small">
												<input type="checkbox" name="_remember_me" class="custom-control-input" id="customCheck">
												<label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
											</div>
										</div>
										<button class="btn btn-block" type="submit">
											Se connecter
										</button>
										<hr>
										<div class="text-center">
											<a class="small" href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</form>
{% endblock %}
