{% extends "base.html.twig" %}

{% block title %}Clients occasionnels
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		body {
			overflow-x: hidden;
		}

		.table-responsive {
			height: 75vh;
			overflow: auto;
			width: 95%;
			margin-left: 50px
		}
		.header {
			position: sticky;
			top: 0;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="content-wrapper">
		<h1 class="text-center fw-bold fs-1 mt-3">Clients occasionnels</h1>
		<div class="mt-5">

			<div class="mx-auto rounded">
				<div class="container mx-auto">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th class="header" scope="col">Nom</th>
								<th class="header" scope="col">Prénom(s)</th>
								<th class="header" scope="col">Montant payé</th>
								<th class="header" scope="col">Date d'enregistrement</th>
							</tr>
						</thead>
						<tbody>
							{% for casualClient in casualClients %}
								<tr>
									<td class="">{{casualClient.nom is not null ? casualClient.nom : 'Non renseigné' }}</td>
									<td class="">{{casualClient.prenom is not null ? casualClient.prenom : 'Non renseigné'}}</td>
									<td class="">{{casualClient.amount ~ ' XOF'}}</td>
									<td class="col-2">{{casualClient.doneOn |localizeddate('long', 'short', 'fr')}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
			<div class="d-flex container-perso navigation justify-content-center pb-5">
				{{ knp_pagination_render(casualClients) }}
			</div>
		</div>
	</div>
{% endblock %}
