<nav class="main-header navbar navbar-expand navbar-dark pr-2">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link " data-widget="pushmenu" href="#" role="button">
				<i class="nav-fas fas fa-bars"></i>
			</a>
		</li>
	</ul>

	<ul
		class="navbar-nav ml-auto">
		{# {% if app.user is not null and is_granted("ROLE_ADMIN") %}
																				
																							<li class="nav-item">
																								<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
																									<i class="fas fa-th-large"></i>
																								</a>
																							</li>
																						{% endif %} #}

		<li class="nav-item dropdown">
			<a class="user-panel d-flex text-light" href="#" id="userProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<div class="info">
					{{app.user.prenom ~ ' ' ~ app.user.nom}}
				</div>
				<div class="image">
					{% if app.user.profileFileName == 'profile_icon.png' %}
						<img src="{{asset('img/' ~ app.user.profileFileName)}}" class="img-circle elevation-2" alt="User Image">
					{% else %}
						<img src="{{asset('uploads/user_profile/' ~ app.user.profileFileName)}}" class="img-circle elevation-2" alt="User Image">
					{% endif %}
				</div>
			</a>
			<ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="userProfile">
				<li class="dropdown-item">
					<a class="text-dark" href="{{path('app_responsable_edit_profile')}}">
						<i class="nav-fas pr-2 fas fa-user nav-icon mr-1"></i>
						Mon profil
					</a>
				</li>
				{% if "ROLE_ADMIN" in app.user.roles %}
					<li class="dropdown-item">
						<a href="{{path('app_settings')}}" class="text-dark">
							<i class="nav-fas pr-2 fas fa-tools nav-icon"></i>
							Paramètres
						</a>
					</li>
				{% endif %}
				<li class="divider"></li>
				<li class="dropdown-item">
					<i class="nav-fas pr-2 fas fa-sign-out-alt"></i>
					<a class="text-danger" href="{{path('app_logout')}}">Déconnexion</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
