<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<a href="{{path('app_home')}}" class="brand-link">
		<img src="{{asset('img/favicon/android-chrome-192x192.png')}}" alt="Metanna Fitnesss logo" class="brand-image img-circle " style="opacity: .8">
		<span class="brand-text font-weight-light">Metanna Fitnesss</span>
	</a>

	<div class="sidebar">

		<nav class="mt-5">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item">
					<a href="{{path('app_home')}}" class="nav-link fw-bold">
						<i class="nav-fas nav-icon fas fa-home"></i>
						<p>
							Accueil
						</p>
					</a>

				</li>
				<li class="nav-item">
					{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_REGISTER_CLIENT" in app.user.roles or "ROLE_RIGHT_CANCEL_REGISTRATION" in app.user.roles or "ROLE_RIGHT_LIST_REGISTRATION" in app.user.roles %}

						<a href="#" class="nav-link fw-bold ">
							<i class="nav-icon far fa-registered"></i>
							<p class="nav-text">
								Inscriptions
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>


						<ul class="nav nav-treeview">
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_REGISTER_CLIENT" in app.user.roles %}
								<li class="nav-item">
									<a href="{{path('app_register_client')}}" class="nav-link ">
										<i class="nav-fas fas fa-check-circle nav-icon"></i>
										<p>Faire une inscription
										</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_CANCEL_REGISTRATION" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_client_registration_cancel_search')}}" class="nav-link ">
										<i class="nav-fas fas fa-user-times nav-icon"></i>
										<p>Résilier une inscription
										</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_LIST_REGISTRATION" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_client_registration_list')}}" class="nav-link ">
										<i class="nav-fas fas fa-list nav-icon"></i>
										<p>Liste des inscrits</p>

									</a>
								</li>
							{% endif %}

							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_CASUAL" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_client_casual')}}" class="nav-link ">
										<i class="nav-fas fas fa-sun nav-icon"></i>
										<p>Clients occasionnels</p>
									</a>
								</li>
							{% endif %}

							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_LIST_CASUAL" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_client_casual_list')}}" class="nav-link ">
										<i class="nav-fas fas fa-stream nav-icon"></i>
										<p>Liste des occasionnels</p>
									</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% endif %}

				{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_SUBSCRIBE_CLIENT" in app.user.roles or "ROLE_RIGHT_LIST_SUBSCRIPTION" in app.user.roles %}

					<li class="nav-item">

						<a href="#" class="nav-link fw-bold">
							<i class="nav-icon fas fa-registered"></i>
							<p class="nav-text">
								Abonnements
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>

						<ul class="nav nav-treeview">
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_SUBSCRIBE_CLIENT" in app.user.roles %}
								<li class="nav-item">
									<a href="{{path('app_client_subscription_renew_search')}}" class="nav-link ">
										<i class="nav-fas fas fa-check-circle nav-icon"></i>
										<p>Faire un abonnement
										</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_LIST_SUBSCRIPTION" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_client_subscription_list')}}" class="nav-link ">
										<i class="nav-fas fas fa-list nav-icon"></i>
										<p>Liste des abonnés
										</p>

									</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% endif %}

				{% if "ROLE_ADMIN" in app.user.roles %}

					<li class="nav-item">
						<a href="#" class="nav-link fw-bold">
							<i class="nav-icon fas fa-font"></i>
							<p class="nav-text">
								Activités des clients
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>

						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="#" class="nav-link ">
									<img src="{{asset('img/tracking.png')}}" class="nav-icon far" alt="">
									<p>Activité d'un client
									</p>

								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link ">
									<img src="{{asset('img/tracking.png')}}" class="nav-icon far" alt="">
									<p>Toutes les activités
									</p>

								</a>
							</li>

						</ul>
					</li>
				{% endif %}

				{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_SELL_ARTICLE" in app.user.roles or "ROLE_RIGHT_SALES_HISTORY" in app.user.roles or "ROLE_RIGHT_SALES_MANAGEMENT" in app.user.roles  %}

					<li class="nav-item">
						<a href="#" class="nav-link fw-bold">
							<i class="nav-icon fas fa-cubes"></i>
							<p class="nav-text">
								Produits
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>

						<ul class="nav nav-treeview">
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_SELL_ARTICLE" in app.user.roles  %}

								<li class="nav-item">
									<a href="{{path('app_article_list')}}" class="nav-link ">
										<i class="nav-fas fas fa-cart-plus nav-icon"></i>
										<p>Vendre un produit
										</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_SALES_HISTORY" in app.user.roles %}
								<li class="nav-item">
									<a href="{{path('app_article_history')}}" class="nav-link ">
										<i class="nav-fas fas fa-history nav-icon"></i>
										<p>Historique des ventes
										</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_SALES_MANAGEMENT" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_article_catalogue')}} " class="nav-link ">
										<i class="nav-fas fas fa-tasks nav-icon"></i>
										<p>Gerer le stock
										</p>

									</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% endif %}


				{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_ADD_RESPONSABLE" in app.user.roles or "ROLE_RIGHT_LIST_RESPONSABLE" in app.user.roles or "ROLE_RIGHT_RESPONSABLE_ACTIVITIES" in app.user.roles  %}


					<li class="nav-item">
						<a href="#" class="nav-link fw-bold">
							<i class="nav-icon fas fa-tools"></i>
							<p class="nav-text">
								Administration
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>

						<ul class="nav nav-treeview">
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_ADD_RESPONSABLE" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_responsable_register')}}" class="nav-link ">
										<i class="nav-fas fas fa-user-plus nav-icon"></i>
										<p>Ajouter un responsable</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_LIST_RESPONSABLE" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_responsable_list')}}" class="nav-link ">
										<i class="nav-fas fas fa-list nav-icon"></i>
										<p>Mes responsables</p>

									</a>
								</li>
							{% endif %}
							{% if "ROLE_ADMIN" in app.user.roles or "ROLE_RIGHT_RESPONSABLE_ACTIVITIES" in app.user.roles %}

								<li class="nav-item">
									<a href="{{path('app_responsable_service')}}" class="nav-link ">
										<img src="{{asset('img/tracking.png')}}" class="nav-icon far" alt="">
										<p>Toutes les activités</p>
									</a>
								</li>
							{% endif %}

						</ul>
					</li>
				{% endif %}

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
