{% extends "base.html.twig" %}

{% block title %}Résiliation d'une inscription
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		.content-wrapper {
			overflow: hidden;
		}

		input[type="text"],
		select {
			outline: none;
		}
		input {
			padding: 0;
			border-radius: 0;
			border: none;
			font-size: 20px;
			color: #bbb;
			background: none;
			letter-spacing: 1px;
			word-spacing: 10px;
			font-family: 'Arvo', sans-serif;
			width: 80%;
		}
		 

	</style>
{% endblock %}


{% block body %}
	{% form_theme form 'form_div_layout.html.twig' %}
	<div class="content-wrapper">
		<h1 class="text-center mt-5 fw-bold">Résilier une inscription</h1>
		<div class="row mt-3">
			<div class="col-sm-5 mx-auto">
				<div class="bg-white text-dark  rounded shadow mt-5">

					<div class="form">
						{{form_start(form,{
									'attr' : {
										'id':'form',
										'class' :'p-2'
									}
									}
								)}}
						{{form_widget(form.clientCode)}}
						<span class="glyphicon glyphicon-search col-xs-1 p-0" data-toggle="tooltip" title="Search" onclick="document.getElementById('form').submit()">
							<i class="fas fa-search"></i>
						</span>
						{{form_end(form)}}
					</div>
				</div>
				{% if error is not null %}
					<span class="invalid-feedback d-block">
						<span class="d-block">
							<span class="form-error-icon badge badge-danger text-uppercase">Erreur</span>
							<span class="form-error-message">{{error}}</span>
						</span>
					</span>
				{% endif %}
			</div>
		</div>
		{% if clientCode is not null and client is null and error is null %}
			<div class="text-center justify-content-center mt-5">
				<h2 class="">Désolé
					<br>
					Aucun client ne correspond à votre recherche</h2>
			</div>
		{% endif %}
		{%  if client is not null %}
			<div class="table-responsive mt-5">
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th class="header" scope="col">Code client</th>
							<th class="header" scope="col">Nom</th>
							<th class="header" scope="col">Prénom(s)</th>
							<th class="header" scope="col">Téléphone</th>
							<th class="header" scope="col">Email</th>
							<th class="header" scope="col">Date de Naissance</th>
							<th class="header" scope="col">Date d'inscription</th>
							<th class="header" scope="col">Montant</th>
							<th class="header" scope="col">Statut</th>
						</tr>
					</thead>

					<tbody>
						<tr class="">
							<th class="text-dark" scope="row">{{client.id}}</th>
							<td class="text-dark">{{client.nom}}</td>
							<td class="text-dark">{{client.prenom}}</td>
							<td class="text-dark">{{client.telephone}}</td>
							<td class="text-dark">{{client.email}}</td>

							<td class="text-dark">{{client.dateNaissance|localizeddate('long', 'none', 'fr')}}</td>
							{% if client.myRegistration is not null %}
								<td class="text-dark">{{client.myRegistration.dateOfRegistration|localizeddate('long', 'none', 'fr')}}</td>
								<td class="text-dark">{{client.myRegistration.amountOfRegistration ~ ' XOF'}}</td>
								<td class="text-info">Inscrit</td>
							{% else %}
								<td></td>
								<td></td>
								<td class="text-info">Inscription résiliée</td>
							{% endif %}

						</tr>
					</tbody>
				</table>
				{% if client.myRegistration is not null %}

					<div class="d-grid gap-2 col-3 mx-auto mt-5">
						<button class="btn btn-outline-danger btn-block " data-bs-toggle="modal" data-bs-target="#cancelModal">Résilier l'inscription</button>
					</div>
				{% endif %}
			</div>

			<!-- Modal -->
			<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header text-orange">
							<h5 class="modal-title" id="exampleModalLabel">Résiliation de l'inscription</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body text-dark text-center">
							<p>Vous êtes sur le point de
								<b>mettre fin</b>
								à l'inscription de
								<br>M ou  Mme
								<b>{{client.nom}}
								{{client.prenom}}!!</b></p>
						</div>
						<div class="modal-footer justify-content-center">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<a href="{{path("app_client_registration_cancel",{id:client.id})}}" class="btn btn-danger">Résilier</a>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}
