{% extends "base.html.twig" %}

{% block title %}Liste des inscrits
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		body {
			overflow: hidden;
		}
		th {
			color: #000;
			text-align: center;
		}
		td,
		th {
			text-align: center !important;
			vertical-align: unset !important;
		}
		.table-responsive {
			height: 75vh;
			overflow: auto;
			width: 95%;
			margin-left: 50px
		}
		.header {
			position: sticky;
			top: 0;
		}

		.profil {
			width: 100px;
			height: 100px;
			border-radius: 10px
		}
		/* .thumbnail:hover {
			position: absolute;
			top: 30%;
			left: 50%;
			width: 300px;
			height: auto;
		} */
	</style>
{% endblock %}
{% block body %}
	<div class="content-wrapper">
		<h1 class="text-center mt-5 fw-bold">Liste des clients inscrits à la salle</h1>
		<div class="mb-5">
			<div class="mx-auto">
				<div class="d-flex flex-row-reverse mr-5 mb-3 h-100 ">
					<form action="{{path('app_client_registration_search')}}" id="form" method="GET">
						<div class="searchbar searchbar-dark">
							<input class="search_input text-light" type="text" name="clientCode" placeholder="Rechercher un client...">
							<a href="#" class="search-icon" onclick="document.getElementById('form').submit();">
								<i class="fas fa-search"></i>
							</a>
						</div>
					</form>
				</div>
				<div class="form-check float-right mr-5 mb-2">
					<input class="form-check-input" type="checkbox" value="" id="showCanceled" {{checked}} onchange="submitForm()">
					<label class="form-check-label" for="showCanceled">
						Uniquement les inscrits
					</label>
					<form action="{{path('app_client_registration_list',{showOnlyRegistered:true})}}" id="formTrue"></form>
					<form action="{{path('app_client_registration_list',{showOnlyRegistered:false})}}" id="formFalse"></form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th class="header" scope="col">Code client</th>
								<th class="header" scope="col">Nom</th>
								<th class="header" scope="col">Prénom(s)</th>
								<th class="header" scope="col">Téléphone</th>
								<th class="header" scope="col">Email</th>
								<th class="header" scope="col">Date de Naissance</th>
								<th class="header" scope="col">Date d'inscription</th>
								<th class="header" scope="col">Montant</th>
								<th class="header" scope="col">Profil</th>
								<th class="header" scope="col">Statut</th>
							</tr>
						</thead>
						<tbody>
							{% if client is defined %}
								{% if client is not null %}
									<tr>
										<th class="text-dark" scope="row">{{client.id}}</th>
										<td class="text-dark">{{client.nom}}</td>
										<td class="text-dark">{{client.prenom}}</td>
										<td class="text-dark">{{'+221 ' ~ client.telephone}}</td>
										<td class="text-dark">{{client.email}}</td>
										<td class="text-dark">{{client.dateNaissance|localizeddate('long', 'none', 'fr')}}</td>
										{% if client.myRegistration is not null %}
											<td class="text-dark">{{client.myRegistration.dateOfRegistration|localizeddate('long', 'none', 'fr')}}</td>
											<td class="text-dark">{{client.myRegistration.amountOfRegistration ~ ' XOF'}}</td>
											<td class="text-dark"><img src="{{asset('uploads/profil/'~ client.profilFileName)}}" alt="photo de profil" class="profil thumbnail"></td>
											<td class="text-info">Inscrit</td>

										{% else %}
											<td></td>
											<td></td>
											<td class=""><img src="{{asset('uploads/profil/'~ client.profilFileName)}}" alt="photo de profil" class="profil thumbnail"></td>
											<td class="text-info">Inscription résiliée</td>
										{% endif %}
									</tr>
								{% endif %}
							{% else %}

								{% for client in clients %}
									<tr>
										<th class="" scope="row">{{client.id}}</th>
										<td class="">{{client.nom}}</td>
										<td class="">{{client.prenom}}</td>
										<td class="">{{'+221 ' ~ client.telephone}}</td>
										<td class="">{{client.email}}</td>
										<td class="">{{client.dateNaissance|localizeddate('long', 'none', 'fr')}}</td>
										{% if client.myRegistration is not null %}
											<td class="">{{client.myRegistration.dateOfRegistration|localizeddate('long', 'none', 'fr')}}</td>
											<td class="">{{client.myRegistration.amountOfRegistration ~ ' XOF'}}</td>
											<td class=""><img src="{{asset('uploads/profil/'~ client.profilFileName)}}" alt="photo de profil" class="profil thumbnail"></td>
											<td class="text-info">Inscrit</td>

										{% else %}
											<td></td>
											<td></td>
											<td class=""><img src="{{asset('uploads/profil/'~ client.profilFileName)}}" alt="photo de profil" class="profil thumbnail"></td>
											<td class="text-info">Inscription résiliée</td>
										{% endif %}
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		function submitForm() {
var input = document.getElementById('showCanceled');
if (input.checked) {
document.getElementById('formTrue').submit();
} else {
document.getElementById('formFalse').submit();
}
}
	</script>
{% endblock %}
