{% extends "base.html.twig" %}

{% block title %}Liste des inscrits
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		.profile {
			width: 100px;
			height: 100px;
			border-radius: 10px
		}
	</style>
{% endblock %}
{% block body %}
	<div class="content-wrapper">
		<div class="mb-5">
			<h1 class="text-center mt-5 fw-bold">Liste des clients inscrits à la salle</h1>
			<div class="d-flex flex-row-reverse mr-5 mb-3 h-100 search">
				<form action="{{path('app_client_registration_search')}}" id="form" method="GET">
					<div class="searchbar searchbar-dark">
						<input class="search_input text-light" type="text" name="clientCode" placeholder="Rechercher un client...">
						<a href="#" class="search-icon" onclick="document.getElementById('form').submit();">
							<i class="fas fa-search"></i>
						</a>
					</div>
				</form>
			</div>
			<div class="form-check float-right mr-5 mb-2">
				<input class="form-check-input" type="checkbox" value="" id="showCanceled" {{checked}} onchange="submitForm()">
				<label class="form-check-label" for="showCanceled">
					Uniquement les inscrits
				</label>
				<form action="{{path('app_client_registration_list',{showOnlyRegistered:true})}}" id="formTrue"></form>
				<form action="{{path('app_client_registration_list',{showOnlyRegistered:false})}}" id="formFalse"></form>
			</div>
			<div class="mx-auto table-responsive">
				<table class="table table-hover  mt-4">
					<thead class="thead-light">
						<tr>
							<th class="header sort-by" scope="col">Code client</th>
							<th class="header sort-by" scope="col">Nom</th>
							<th class="header sort-by" scope="col">Prénom(s)</th>
							<th class="header" scope="col">Téléphone</th>
							<th class="header sort-by" scope="col">Email</th>
							<th class="header sort-by" scope="col">Date de Naissance</th>
							<th class="header sort-by" scope="col">Date d'inscription</th>
							<th class="header sort-by" scope="col">Montant</th>
							<th class="header" scope="col">e</th>
							<th class="header sort-by" scope="col">Statut</th>
						</tr>
					</thead>
					<tbody>
						{% if client is defined %}
							{% if client is not null %}

								<form action="{{path('app_register_edit_client',{id:client.id})}}" method="post" id="edit-form-{{client.id}}" class="d-hidden"></form>

								{% if client.myRegistration is not null and  (is_granted("ROLE_ADMIN") or is_granted("ROLE_RIGHT_EDIT_REGISTRATION")) %}

									<tr role="button" onclick="document.getElementById('edit-form-{{client.id}}').submit();">
									{% else %}
										<tr>
										{% endif %}
										<th class="text-dark" scope="row">{{client.id}}</th>
										<td class="text-dark">{{client.nom}}</td>
										<td class="text-dark">{{client.prenom}}</td>
										<td class="text-dark">{{'+221 ' ~ client.telephone}}</td>
										<td class="text-dark">{{client.email}}</td>
										<td>
											{% if client.dateNaissance is not null%}
												{{client.dateNaissance|localizeddate('long', 'none', 'fr')}}
											{% endif %}
										</td>
										{% if client.myRegistration is not null %}
											<td class="text-dark">{{client.myRegistration.dateOfRegistration|localizeddate('long', 'none', 'fr')}}</td>
											<td class="text-dark">{{client.myRegistration.amountOfRegistration ~ ' XOF'}}</td>
											<td>
												<a href="{{asset('uploads/client_profile/'~ client.profileFileName)}}"><img src="{{asset('uploads/client_profile/'~ client.profileFileName)}}" alt="photo de profil" class="profile thumbnail"></a>
											</td>
											<td class="text-info fw-bold fs-5">Inscrit</td>

										{% else %}
											<td></td>
											<td></td>
											<td>
												<a href="{{asset('uploads/client_profile/'~ client.profileFileName)}}"><img src="{{asset('uploads/client_profile/'~ client.profileFileName)}}" alt="photo de profil" class="profile thumbnail"></a>
											</td>
											<td class="text-warning fw-bold fs-5">Inscription résiliée</td>
										{% endif %}
									</tr>
								{% endif %}
							{% else %}

								{% for client in clients %}
									<form action="{{path('app_register_edit_client',{id:client.id})}}" method="post" id="edit-form-{{client.id}}" class="d-hidden"></form>

									{% if client.myRegistration is not null and  (is_granted("ROLE_ADMIN") or is_granted("ROLE_RIGHT_EDIT_REGISTRATION")) %}

										<tr role="button" onclick="document.getElementById('edit-form-{{client.id}}').submit();">
										{% else %}
											<tr>
											{% endif %}
											<th scope="row">{{client.id}}</th>
											<td>{{client.nom}}</td>
											<td>{{client.prenom}}</td>
											<td>{{'+221 ' ~ client.telephone}}</td>
											<td>{{client.email}}</td>
											<td>
												{% if client.dateNaissance is not null%}
													{{client.dateNaissance|localizeddate('long', 'none', 'fr')}}
												{% endif %}
											</td>
											{% if client.myRegistration is not null %}
												<td>{{client.myRegistration.dateOfRegistration|localizeddate('long', 'none', 'fr')}}</td>
												<td>{{client.myRegistration.amountOfRegistration ~ ' XOF'}}</td>
												<td>
													<a href="{{asset('uploads/client_profile/'~ client.profileFileName)}}"><img src="{{asset('uploads/client_profile/'~ client.profileFileName)}}" alt="photo de profil" class="profile thumbnail"></a>
												</td>
												<td class="text-info fw-bold fs-5">Inscrit</td>

											{% else %}
												<td></td>
												<td></td>
												<td>
													<a href="{{asset('uploads/client_profile/'~ client.profileFileName)}}"><img src="{{asset('uploads/client_profile/'~ client.profileFileName)}}" alt="photo de profil" class="profile thumbnail"></a>
												</td>
												<td class="text-warning fw-bold fs-5">Inscription résiliée</td>
											{% endif %}
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	function submitForm() {
var input = document.getElementById('showCanceled');
if (input.checked) {
document.getElementById('formTrue').submit();
} else {
document.getElementById('formFalse').submit();
}
}
</script>

<script>
	const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
const table = th.closest('table');
Array.from(table.querySelectorAll('tr:nth-child(n+2)')).sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc)).forEach(tr => table.appendChild(tr));
})));
</script>{% endblock %}
