{% extends "base.html.twig" %}

{% block title %}Liste des abonnés
{% endblock %}

{% block stylesheets %}
	{{parent()}}

	<style>
		tbody tr {
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="content-wrapper" class="d-flex flex-column">

		<h1 class="text-center mt-5 fw-bold">Liste des abonnés à la salle</h1>

		<div class="table-responsive mx-auto">
			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th class="header sort-by" scope="col">Code client</th>
						<th class="header sort-by" scope="col">Nom</th>
						<th class="header sort-by" scope="col">Prénom(s)</th>
						<th class="header" scope="col">Téléphone</th>
						<th class="header sort-by" scope="col">Email</th>
						<th class="header sort-by" scope="col">Date de Naissance</th>
						<th class="header sort-by" scope="col">Date d'inscription</th>
						<th class="header sort-by" scope="col">Fin de l'abonnement</th>
						<th class="header sort-by" scope="col">Montant</th>
						<th class="header sort-by" scope="col">Statut de l'abonnement</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<form action="{{path('app_register_edit_client',{id:client.id})}}" method="post" id="edit-form-{{client.id}}"></form>
						{% if client.myRegistration is not null and  (is_granted("ROLE_ADMIN") or is_granted("ROLE_RIGHT_REGISTER_EDIT_CLIENT")) %}

							<tr class="pointer-tr" onclick="document.getElementById('edit-form-{{client.id}}').submit();">
							{% else %}
								<tr>
								{% endif %}
								<th class="p-3" scope="row">{{client.id}}</th>
								<td class="p-3">{{client.nom}}</td>
								<td class="p-3">{{client.prenom}}</td>
								<td class="p-3">{{'+221 '~ client.telephone}}</td>
								<td class="p-3">{{client.email}}</td>

								{% if client.dateNaissance is not null %}
									<td class="p-3">{{client.dateNaissance|localizeddate('long', 'none', 'fr')}}</td>
								{% else %}
									<td></td>
								{% endif %}
								{% if client.myRegistration is not null %}
									<td class="p-3">{{client.myRegistration.dateOfRegistration|localizeddate('long', 'none', 'fr')}}</td>
								{% else %}
									<td></td>
								{% endif %}
								{% if client.mySubscription is not null %}
									<td class="p-3">{{client.mySubscription.endOfSubs|localizeddate('long', 'none', 'fr')}}</td>
									<td class="p-3">{{client.mySubscription.amountOfSubs ~ ' XOF'}}</td>

									{% set content = "" %}
									{% set color = "success" %}
									{% if timeRemaining[client.id] is null %}
										{% if client.mySubscription.startOfSubs > client.myRegistration.dateOfRegistration %}
											{% set content = "En cours" %}
										{% else %}
											{% set content = "Pas démarré" %}
										{% endif %}
										{% set color = "info" %}
									{% else %}
										{% if timeRemaining[client.id] <= 0 %}
											{% set content = "Expiré" %}
											{% set color = "danger" %}

										{% else %}

											{% set content = "Expire dans " ~ timeRemaining[client.id] ~ " jours" %}
											{% if timeRemaining[client.id] <= 7 %}
												{% set color = "danger" %}
											{% endif %}
										{% endif %}
									{% endif %}

									<th>
										<span class="text-{{color}}">{{content}}</span>
									</th>
								{% else %}
									<td></td>
									<td></td>
									<td></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		
		</div>
	</div>
	<script>
		const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
const table = th.closest('table');
Array.from(table.querySelectorAll('tr:nth-child(n+2)')).sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc)).forEach(tr => table.appendChild(tr));
})));
	</script>
{% endblock %}
