{% extends 'base.html.twig' %}

{% block title %}Modifier le profil
{% endblock %}
{% block body %}

	<div class="content-wrapper">
		<div class="container mx-auto pt-3">

			<div class="mx-auto card o-hidden border-0 shadow-lg col-sm-8">
				<div class="card-body p-0">
					<div class="row ">

						<div class="">
							<div class="p-5">
								<div class="text-center ">
									<h1 class="text-gray-900 mb-4 register-title">Modifier mon profil</h1>
								</div>
								{{ form_start(form) }}
								<div>
									<div class="col-sm-12">
										{{ form_row(form.nom) }}
									</div>
								</div>
								<div>
									<div class="col-sm-12">
										{{ form_row(form.prenom) }}
									</div>
								</div>
								<div>
									<div class="col-sm-8">
										{{ form_row(form.telephone) }}
									</div>
								</div>
								<div class="card border-warning p-4">
									<div class="card-title">A modifier si nécessaire</div>
									<div>
										<div class="col-sm-8">
											{{ form_row(form.plainPassword.first) }}
										</div>
									</div>
									<div>
										<div class="col-sm-8 ">
											{{ form_row(form.plainPassword.second) }}
										</div>
									</div>
								</div>
								<div class="container mt-5">
									<button type="submit" class="btn btn-outline-info btn-block">
										Modifier
									</button>
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
