{% extends 'base.html.twig' %}

{% block title %}Enregistrer un responsable
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<style>

		.form {
			margin-left: 20%;
		}
		button[type="submit"]:hover {
			background-color: #e0ca00;
			color: #000;


		}
		button[type="submit"] {
			border: 1px solid #e0ca00;
			color: #000
		}
	</style>
{% endblock %}
{% block body %}
	<div
		id="wrapper">

		<!-- Sidebar -->
		{% include "layouts/partials/_sidebar.html.twig" %}

		<!-- Content Wrapper -->
		<div
			id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				{% include "layouts/partials/_nav.html.twig" %}
				<div class="container" style="padding-right:18%">

					<div class="card o-hidden border-0 shadow-lg">
						<div
							class="card-body p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">
								<div class="col-sm-5 d-none d-lg-block bg-register-image" style="background-image: url({{asset('img/logo.jpg')}});"></div>
								<div class="col-sm-7">
									<div class="p-5">
										<div class="text-center ">
											<h1 class="text-gray-900 mb-4 register-title">Enregistrer un nouveau responsable de salle</h1>
										</div>
										{{ form_start(registrationForm) }}
										<div>
											<div class="col-sm-12">
												{{ form_row(registrationForm.nom) }}
											</div>
										</div>
										<div>
											<div class="col-sm-12">
												{{ form_row(registrationForm.prenom) }}
											</div>
										</div>
										<div>
											<div class="col-sm-8">
												{{ form_row(registrationForm.telephone) }}
											</div>
										</div>

										<div>
											<div class="col-sm-12">
												{{ form_row(registrationForm.email) }}
											</div>
										</div>
										<div>
											<div class="col-sm-7">
												{{ form_row(registrationForm.plainPassword.first) }}
											</div>
										</div>
										<div>
											<div class="col-sm-7 ">
												{{ form_row(registrationForm.plainPassword.second) }}
											</div>
										</div>
										<div class="container mt-5">
											<button type="submit" class="btn btn-user btn-block">
												Créer le compte
											</button>
										</div>
									</div>
									{{ form_end(registrationForm) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
