{% extends 'base.html.twig' %}

{% block title %}Enregistrer un responsable
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>

		.dropdown-menu {
			font-weight: bold;
			font-size: 1.0em;
		}
		.action-bs {
			margin-left: 8px
		}
		.dropdown-footer,
		.dropdown-header {
			font-size: 1em;
		}
	</style>
{% endblock %}
{% block body %}

	<div class="content-wrapper">
		<div class="container">

			<div class="card o-hidden border-0 shadow-lg">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-sm-5 d-none d-lg-block bg-register-image" style="background-image: url({{asset('img/logo.jpg')}});"></div>
						<div class="col-sm-7">
							<div class="p-5">
								<div class="text-center ">
									<h1 class="text-gray-900 mb-4 register-title">Enregistrer un nouveau responsable de salle</h1>
								</div>
								{{ form_start(registrationForm) }}
								<div>
									<div class="col-sm-12">
										{{ form_row(registrationForm.nom) }}
									</div>
								</div>
								<div>
									<div class="col-sm-12">
										{{ form_row(registrationForm.prenom) }}
									</div>
								</div>
								<div>
									<div class="col-sm-8">
										{{ form_row(registrationForm.telephone) }}
									</div>
								</div>
								<div>
									<div class="col-sm-12">
										{{ form_row(registrationForm.email) }}
									</div>
								</div>

								<div>
									<div class="col-sm-7">
										{{ form_row(registrationForm.plainPassword.first) }}
									</div>
								</div>
								<div>
									<div class="col-sm-7 ">
										{{ form_row(registrationForm.plainPassword.second) }}
									</div>
								</div>

								<div>
									<div class="col-sm-8">
										<label for="rightDefinition">Définissez les droits  du responsable</label>
										<select id="rightDefinition" class="selectpicker form-control" multiple data-live-search="true" data-actions-box="true" style="width:100%" name="rightDefinition[]" multiple>

											{% for type,rightTypes in rights %}
												<optgroup label="{{ type }}">
													{% for key,right in rightTypes %}
														<option value="{{key}}">{{ right }}</option>
													{% endfor %}
												</optgroup>
											{% endfor %}
										</select>
										{% if error is defined %}
											<small class="text-danger">{{error}}</small>
										{% endif %}
									</div>
								</div>
								<div class="container mt-5">
									<button type="submit" class="btn btn-outline-orange btn-block">
										Créer le compte
									</button>
								</div>
							</div>
							{{ form_widget(registrationForm._token) }}
							{{ form_end(registrationForm, {'render_rest': false}) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
