{% extends "base.html.twig" %}

{% block title %}Traçage du service
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		body {
			overflow: auto;
		}
		th {
			color: #000;
			text-align: center;
		}
		td,
		th {
			text-align: center !important;
			vertical-align: unset !important;
		}
		.table-responsive {
			height: 75vh;
			overflow: auto;
			width: 95%;
			margin-left: 50px
		}
		.header {
			position: sticky;
			top: 0;
		}

		.profil {
			width: 100px;
			height: 100px;
			border-radius: 10px
		}
		/* .thumbnail:hover {
			position: absolute;
			top: 30%;
			left: 50%;
			width: 300px;
			height: auto;
		} */
	</style>
{% endblock %}
{% block body %}
	<div class="content-wrapper" class="d-flex flex-column">
		<h1 class="text-center mt-5 fw-bold">Activités des responsables</h1>

		<div class=" py-5">
			<div class="mx-auto rounded">

				<div class="container mx-auto">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th class="header" scope="col">Nom</th>
								<th class="header" scope="col">Prénom(s)</th>
								<th class="header" scope="col">Date de l'activité</th>
								<th class="header" scope="col">Activité</th>
							</tr>
						</thead>
						<tbody>
							{% for service in services %}
								<tr>
									<td>{{service.responsable.nom}}</td>
									<td>{{service.responsable.prenom}}</td>
									<td>{{service.dateOfService|localizeddate('long', 'medium', 'fr')}}</td>
									<td>{{service.serviceName}}</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% include "layouts/_footer.html.twig" %}
{% endblock %}
