{% extends "base.html.twig" %}

{% block title %}Traçage du service
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		body {
			overflow-x: hidden;
		}
		
	</style>
{% endblock %}
{% block body %}
	<div class="content-wrapper" class="d-flex flex-column">
		<h1 class="text-center mt-5 fw-bold">Activités des responsables</h1>
		<div class="my-5 d-flex justify-content-center">
			<div class="pl-5 col-md-8 mb-4 bg-light rounded-3 mx-auto">
				<div class=" py-5">
				<div class="row">
					<label for="">Nom</label>
					<input class="form-control" type="text" name="" id="">
				</div>
				</div>
			</div>
		</div>
		<div class="py-3">
			<div class="mx-auto rounded">

				<div class="container mx-auto">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th class="header sort-by" scope="col">Nom</th>
								<th class="header sort-by" scope="col">Prénom(s)</th>
								<th class="header sort-by" scope="col">Date de l'activité</th>
								<th class="header sort-by" scope="col">Activité</th>
							</tr>
						</thead>
						<tbody>
							{% for service in services %}
								<tr>
									<td>{{service.responsable.nom}}</td>
									<td>{{service.responsable.prenom}}</td>
									<td>{{service.dateOfService|localizeddate('long', 'medium', 'fr')}}</td>
									<td>{{service.serviceName}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="d-flex container-perso navigation justify-content-center">
			{{ knp_pagination_render(services) }}
		</div>
	</div>

	{% include "layouts/_footer.html.twig" %}
{% endblock %}
