<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Jonathan Assamagan">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png')}}">
		<link rel="mask-icon" href="{{ asset('img/favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		{# <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}"> #}
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
		<title>
			{% block title %}Metanna-Fitness
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
			<style>
				body {
					overflow-x: hidden;
				}
				#flasher-container-top-right {
				top: 8% !important;
			}
			</style>
		{% endblock %}
		{% block javascripts %}
			<!-- Custom scripts for all pages-->

			{{ encore_entry_script_tags('app') }}
			<script src="//code.jquery.com/jquery.js"></script>

			<script src="https://kit.fontawesome.com/bca57ce0fe.js" crossorigin="anonymous"></script>

			
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-fr_FR.min.js"></script>
		{% endblock %}
	</head>

	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
			{{flasher_render()}}
		<div class="wrapper">

			{% if app.user is not null %}
				{% include "layouts/_nav.html.twig" %}

				{% include "layouts/_sidebar.html.twig" %}
			{% endif %}
			{# {{ include('@MercurySeriesFlashy/flashy.html.twig') }} #}

			{% if app.user is not null and is_granted("ROLE_ADMIN") %}
				{% include "layouts/_control_sidebar.html.twig" %}
			{% endif %}
			{% block body %}{% endblock %}

		</div>
	</body>
</html>
