<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Jonathan">
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<style>
			body {
				overflow: auto;
			}
			body,
			#wrapper #content-wrapper {
				background-color: #fff
			}
			.flashy__body {
				text-decoration: none;
			}
			.flashy {
				margin-top: 90px;
			}
			.form-control:focus,
			.form-control.is-invalid {
				outline: none !important;
				box-shadow: none !important;
			}
			a,
			button {
				outline: none !important;
				box-shadow: none !important;
			}
			.btn-perso{
				background-color: #e0ca00;
				color:#fff
			}
			.btn-perso:hover{
				color: #000;
			}
		</style>
		{% block javascripts %}
			<!-- Custom scripts for all pages-->
			{{ encore_entry_script_tags('app') }}
			<script src="//code.jquery.com/jquery.js"></script>

		{% endblock %}
	</head>

	<body>
		<!-- Flashy depends on jQuery -->
		<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
		<script>
			$(document).ready(function () {
bsCustomFileInput.init()
})
		</script>
		<!-- Load Flashy default JavaScript -->
		<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
		<!-- Include Flashy default partial -->
		{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
		{% block body %}{% endblock %}

	</body>

</html>
